body {
  font-family: "Inter", sans-serif;
  width: 100%;
}
.main-container {
  display: flex;
  background: #f5f5f5;
  width: 100%;
  height: 30px;
  padding-bottom: 5px;
}
.socialmedia {
  flex: 1;
  text-align: left;
  margin-top: -10px;
  font-size: x-small;
}
.socialmedia p{
    margin-top: 30px;
}
.socialimage{
margin-left: 90px;
margin-top: -24px;
}
.contact {
  flex: 1;
  display: flex;
  padding-right: 20px;
  font-size: x-small;
  margin-top: -10px;
}
.divide1{
    flex: 1;
    margin-top: 20px;
}
.divide1 p{
    margin-top: -16px;
    margin-left: 25px;
}
.divide2{
    flex: 1;
    margin-top: 20px;
    margin-left: -60px;
}
.divide2 p{
    margin-top: -18px;
    margin-left: 28px;
}


.navbar {
  margin-left: 100px;
  display: flex;
  height: 50px;
  width: 100%;
  font-size: small;
  cursor:  pointer !important;
}
.navleft {
  flex: 1;
  margin-top: 10px;
  margin-left: -50px;
}
.navright {
  flex: 1;
  margin-top: 10px;
  margin-left: -700px;
  padding-top: 25px;
  position: relative;
}
.navright a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}
.navright:hover{
    color: #ff0000;
    cursor: pointer !important;
}
.lovecare {
  width: 100%;
  position: relative;
  margin-top: -30px;
}
.lovecare h1 {
  font-size: xx-large;
  margin-left: 200px;
  margin-top: 200px;
  margin-bottom: 60px;
  position: absolute;
}
.lovecare p {
  margin-left: 200px;
  margin-top: 300px;
  position: absolute;
}
.lovecare img {
  margin-top: 70px;
  margin-left: 10%;
}
#book button {
  position: absolute;
  margin-top: -200px;
  margin-left: 200px;
  background-color: #17c1a3;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.talk img {
  position: absolute;
  margin-left: 415px;
  margin-top: -190px;
}
.talk a {
  position: absolute;
  margin-left: 445px;
  margin-top: -189px;
  font-size: small;
}
.second-container button {
  background-color: #17c1a3;
  border: none;
  border-radius: 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 205px;
  height: 34px;
}
.appointment {
  background-color: white;
  position: absolute;
  margin-left: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: -100px;
  border-style: none;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.first-container {
  margin-bottom: 12px;
}
.first-container input {
  width: 200px;
  height: 30px;
  margin-right: 5px;
}
.second-container{
    margin-left: -20px;
}
.second-container input {
  width: 200px;
  height: 30px;
  margin-right: 5px;
  margin-left: 10px;

}
.departments{
    margin-top: 150px;
}
.deptinfo{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    
}
.headdept{
    margin-left: 50px;
}
.hept-container{
    flex: 1;
    margin-right: 15px;
}
.hept-container img{
    width: 370px;
    height: 230px;
}
.hept-container p{
    font-size: small;
    margin-top: -10px;
}
.hept-container a{
    color: #17c1a3;
    font-size: small;
    margin-top: -70px;
}
.onco-container img{
    width: 370px;
    height: 230px;
}
.ent-container img{
    width: 370px;
    height: 230px;
}

.onco-container{
    flex: 1;
    margin-right: 15px;
    
    /* width: 100px;
    height: 100px; */
}
.onco-container p{
    font-size: small;
    margin-top: -10px;
}
.onco-container a{
    color: #17c1a3;
    font-size: small;
    margin-top: -70px;
}
.ent_container{
    flex: 1;
    margin-right: 15px;
    /* width: 100px;
    height: 100px; */
}
.ent-container p{
    font-size: small;
    margin-top: -10px;
}
.ent-container a{
    color: #17c1a3;
    font-size: small;
    margin-top: -70px;
}
ul { 
    list-style-image: url("/images/tick2.jpg");
    background-size: 5px; /* Adjust the value as needed */
}
li{
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.whygg{
    position: relative;
    display: flex;
    background-color:#E8F9F6 ;
    height: 350px;
    width: 80%;
    margin-left: 125px;
    margin-top: 150px;
    overflow: hidden;
}
.whyggimage{
    flex: 1;
}
.whyggimage img{
    object-fit: contain;
    position: absolute;
    margin-block-end: auto;
}
.whyggcontent{
    margin-top: 30px;
    font-size: small;
    flex: 1;
}
.bg2{
    padding-top: 10px;
}
.specinfo{
    display: flex;
}
.lisha{
    flex: 1;
    text-align: center;
}
.lisha h4{
margin-top: 10px;
}
.lisha p{
    font-size: x-small;
    margin-top: -13px;
    color: #7d7c7c;
}
.chris{
    flex: 1;
    text-align: center;

}
.chris h4{
    margin-top: 10px;

}
.chris p{
    font-size: x-small;
    margin-top: -13px;
    color: #7d7c7c;
}

.linda{
    flex: 1;
    text-align: center;

}
.linda h4{
    margin-top: 10px;

}
.linda p{
    font-size: x-small;
    margin-top: -13px;
    color: #7d7c7c;
}
.sandra{
    flex: 1;
    text-align: center;

}
.sandra h4{
    margin-top: 10px;

}
.sandra p{
    font-size: x-small;
    margin-top: -13px;
    color: #7d7c7c;
}
.specialist{
    width: 80%;
    margin-left: 125px;
    margin-top: 150px;
}
.specheader{
    text-align: center;
}
.specheader p{
    font-size: x-small;
    margin-top: -13px;
    color: #7d7c7c;
}
.specinfo{
    margin-top: 25px;
}
.specviewall{
    text-align: center;
    margin-top: 10px;
}
.specviewall button{
    background-color: #17c1a3;
  border: none;
  border-radius: 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 35px;
  width: 100px;
  font-size: x-small;
}
.facilities{
    width: 80%;
    margin-left: 80px;
    margin-top: 150px;
}
.facilitieshead{
    /* margin-left: 100px; */
text-align: center;
margin-left: 70px;
}
.facilitiesimage {
display: flex;
/* margin-left: 100px; */
}
.beds{
    flex: 1;
    margin-right: 30px;
}
.reception{
    flex: 1;
    margin-right: 30px;

}
.icu{
    flex: 1;
}
.interest{
    width: 80%;
    margin-left: 80px;
    margin-top: 150px;
}
.interesthead{
    text-align: center;
    margin-left: 100px;
}
.interestinfo{
    display: flex;
}
.interest1{
    flex: 1;
    margin-right: 30px;
}
.interest2{
    flex: 1;
    margin-right: 30px;

}
.interest3{
    flex: 1;
}
.interest1 p{
    font-size: small;
    margin-top: -10px;
}
.interest2 p{
    font-size: small;
    margin-top: -10px;
}
.interest3 p{
    font-size: small;
    margin-top: -10px;
}
.subscribe{
    position: relative;
    background-color: #EAF2FF;
    width: 100%;
    height: 600px;
    margin-top: -250px;
}
.subscribebox{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height:170px;
    margin-top: 350px;
    margin-left: 140px;
    display: flex;
}
.textsubscribe{
    flex: 1;
}
.formsubscribe{
    flex: 1;
    margin-left: 100px;
    margin-top: 75px;
}
.textsubscribe img{
        position: relative;
        margin-top: 2px;

}
.textsubscribe h4{
    position: absolute;
    margin-top: -100px;
    margin-left: 80px;
}
.above{
    position: relative;
    z-index: 1;
}
.formsubscribe input{
    border: none;
  
}
.formsubscribe button{
    margin-left: 50px;
    background-color: #17c1a3;
    border: none;
    border-radius: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    width: 78px;
    font-size: x-small;
}
.formsubscribe hr{
    margin-right: 80px;
    margin-top: 3px;
}
.upper{
display: flex;
}
.logo{
    margin-left: 150px;
    margin-top: 50px;
    flex:auto;
    font-size: xx-small;
}
.logo p{
    line-height: 18px;
}

.aboutgg{
    margin-top: 55px;
    flex: auto;
    font-size: xx-small;
    
}
.aboutgghead{
    margin-left: -60px;
}
.aboutggcontent{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.aboutggcontent p{
    margin-top: 10px;
    margin-left: -60px;
}
.aboutgg a{
    text-decoration: none;
    color: black;
}
.legal{
    margin-top: 55px;
    flex: auto;
    font-size: xx-small;
    
}
.legalhead{
    margin-left: -60px;
}
.legalcontent{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.legalcontent p{
    margin-top: 10px;
    margin-left: -60px;
}
.legal a{
    text-decoration: none;
    color: black;
}
.lower{
    font-size: xx-small;
    display: flex;
}
.address{
    flex: auto;
}
.address img{
    width: 11px;
    height: auto;
}
.phone{
    flex: auto;
    margin-left: -80px;
}
.phone img{
    width: 11px;
    height: auto;
}
.email{
    flex: auto;
    margin-left: -90px;
}
.email img{
    width: 11px;
    height: auto;
}
.socialmedia{
    flex: auto;
    font-size: small;
    margin-top: -20px;
}
.socialmedia img{
    width: 20px;
    height: auto;
    margin-top: -10px;
}
.lower{
    margin-top: 20px;
    margin-left: 150px;

}
.address p{
    margin-left: 15px;
    margin-top: -13px;
}
.phone p{
    margin-left: 15px;
    margin-top: -13px;
}
.email p{
    margin-left: 15px;
    margin-top: -13px;
}
footer{
    text-align: center;
    font-size: xx-small;
    margin-top: 30px;
    color: #7d7c7c;
}
.main-body-container{
    width: 100%;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: -10px;
}
.dropdown .dropbtn::after {
    content: '\25BC'; /* Unicode for a down arrow */
    margin-left: 5px;
  }

.dropbtn {
    background-color: white;
    color: black;
    padding: 10px 15px;
    /* font-size: small; */
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ff0000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ff0000;
}
.dropdown2 {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: -10px;
}
.dropdown2 .dropbtn2::after {
    content: '\25BC'; /* Unicode for a down arrow */
    margin-left: 5px;
  }

.dropbtn2 input{
    background-color: white;
    color: black;
    padding: 10px 15px;
    width: 200px;
    height: 30px;
    margin-right: 10px;
    border-radius: 7px;
}
/* .dropbtn2{
    margin-left: 0px;
} */
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: small;
}

.dropdown-content2 a:hover {
    background-color: #f5d0d0;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown2:hover .dropbtn2 {
    background-color: #f5d0d0;
}
